<div class="container text-center">
         <div class="row">
            <div class="col-md-4" style="margin-left: -35px;">
               <img class="headerImage" src="/assets/Owl_Avatar.png" />
            </div>
            <div class="col-md-8">
               <h2 class="headerText">
               Language Targeting Tool
               </h2>
            </div>
         </div>
         <div class = "mainBody">
		 <br>
		 <div class="textBody">
			{{#each languageToolHomepage}}
			<h4>{{para}}</h4>
			{{/each}}
			{{#each languageToolHomepage}}
			<h4></h4>
			<h4>{{para2}} <a href="mailto:{{contactEmail}}" style="text-decoration: underline;">here</a></p>
			{{/each}}
			</div> 
			<div id="page1">
				<div class="row">				   
					<div class="col-md-3 col-md-offset-3">
						<div class="well" onclick="location.href='/languageTool/sponsoredContent';" style="background-color: blue; color: white; padding-top: 45px!important;">
						Sponsored Content
						</div>
					</div>		
					<div class="col-md-3 col-md-offset-3">
						<!--
						<div class="well" onclick="location.href='/languageTool/sponsoredMessaging';" style="background-color: blue; color: white; padding-top: 45px!important;">
						Sponsored Messaging
						</div>
						-->
						<div class="well" onclick="location.href='#';" style="background-color: blue; color: white; padding-top: 45px!important;">
						Sponsored Messaging
						</div>
					</div>				
				</div>
			</div>
         </div>
      </div>
	  <h4 style="color: white;text-align: center;font-style: italic;">Have feedback or issues? Contact us <a href="mailto:EMEA-MOTS@linkedin.com" style="color: white!important;text-decoration: underline;">here</a></h4>
          