<h1>Languages - Create</h1>

<form action="/admin/languageTool/content/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Enter title" >
    </div>
    <div class="form-group">
        <label for="geoBody">Geos</label>
        <input name="geoBody" type="text" class="form-control" id="geoBody" placeholder="Enter geoBody" >
    </div>
    <div class="form-check">
        <label for="exceptionLanguage" class="form-check-label">
        <input name="exceptionLanguage" type="checkbox" class="form-check-input" id="exceptionLanguage">
            Exception Language
        </label>
    </div>
    <div class="form-group">
        <label for="profilesBody">Profile Language</label>
        <input name="profilesBody" type="text" class="form-control" id="profilesBody" placeholder="profilesBody" >
    </div>
    <div class="form-group">
        <label for="adsBody">Ads Language</label>
        <input name="adsBody" type="text" class="form-control" id="adsBody" placeholder="adsBody" >
    </div>

    <button type="submit" class="btn btn-primary">Create Content</button>


</form>