<h1>Homepage - Create</h1>

<form action="/admin/languageTool/homepage/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="para">Paragragh 1</label>
        <input name="para" type="text" class="form-control" id="para" placeholder="Enter paragragh 1" >
    </div>
    <div class="form-group">
        <label for="para2">Paragragh 2</label>
        <input name="para2" type="text" class="form-control" id="para2" placeholder="Enter paragragh 2" >
    </div>
    <div class="form-group">
        <label for="contactEmail">Contact Email</label>
        <input name="contactEmail" type="text" class="form-control" id="contactEmail" placeholder="Enter contact email" >
    </div>

    <button type="submit" class="btn btn-primary">Create Content</button>


</form>